@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* $white */
  --foreground: #212832; /* $black */
  --foreground-alt: #1a1e2a; /* $black-2 */
  --primary: #ff7f50; /* $orange */
  --secondary: #f1a501; /* $yellow */
  --gray-light: #959baa; /* $gray-light */
  --gray: #6f727b; /* $gray */
  --gray-dark: #5e6282; /* $gray-dark */
  --gray-darker: #39425d; /* $gray-darker */
  --purple-light: #dfd7f9; /* $purple-light */
  --purple: #181e4b; /* $purple */
  --purple2: #14183e; /* $purple2 */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem; /* 17px */
}
