@tailwind base;
@tailwind components;
@tailwind utilities;

$white: #ffffff;
$black: #212832;
$black-2: #1a1e2a;
$gray: #959baa;
$gray: #6f727b;
$gray-dark: #5e6282;
$gray-darker: #39425d;
$orange: #ff7f50;
$yellow: #f1a501;
$purple-light: #dfd7f9;
$purple: #181e4b;
$purple2: #14183e;

:root {
  --background: #ffffff; /* $white */
  --foreground: #212832; /* $black */
  --foreground-alt: #1a1e2a; /* $black-2 */
  --primary: #ff7f50; /* $orange */
  --secondary: #f1a501; /* $yellow */
  --gray: #959baa; /* $gray */
  --gray-alt: #6f727b; /* $gray-2 */
  --gray-dark: #5e6282; /* $gray-dark */
  --gray-darker: #39425d; /* $gray-darker */
  --purple-light: #dfd7f9; /* $purple-light */
  --purple: #181e4b; /* $purple */
  --purple-dark: #14183e; /* $purple2 */
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem; /* 17px */
}
